
<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>2018目的地旅游攻略，旅游指南，旅游景点推荐</title>
	<link rel="canonical" href="http://travel.qunar.com/place/">
    <meta name="mobile-agent" content="format=html5; url=http://touch.go.qunar.com/">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://touch.go.qunar.com/">

    <link href="//q.qunarzz.com/travel_destination/prd/styles/qn_resetcss@5fbd502f82782d9638d045602f01bb3e.css" rel="stylesheet" type="text/css">
    <link href="//q.qunarzz.com/travel_destination/prd/styles/home@8ff76710e102f910be3bbd07e463d102.css" rel="stylesheet" type="text/css">

	<script type="text/javascript">
</script>

	<script type="text/javascript">
		var DETAILTYPE = 'index';
		var PRE_SID = '690';
		var SID = '690';
	</script>
</head>

<body>
	<link data-hfstamp="20180330142213" id="hf-style" data-hffile="header_place_styles" rel="stylesheet" href="//common.qunarzz.com/hf_qzz/prd/styles/travel/header_place@cb14e591adef795bcebf40d5c111cd40.css">
	<div class="qn_main_box">
            <div class="qn_main_expand clrfix">
                <!-- 首屏焦点区 -->
                <div class="b_focus">
                    <!--引导页背景图-->
                    <div class="b_guide_bg"><img alt="背景图" src="https://img1.qunarzz.com/travel/poi/1502/b7/98575515745692.jpg" width="1920" height="480"/></div>
                    <!--/引导页背景图-->

                    <!--搜索框-->
                    <div class="b_search_guide">
                        <div class="tit" title="想去哪儿？"></div>
                        <div class="e_searchbox">
                            <div class="searchbox_bg"></div>
                            <div class="searchbox">
                                <div class="searchbox_search clrfix">

                                    <form action="/city_home" method="get">
                                        <div class="search_inputbox">
{#                                            <input autocomplete="off" name="q" type="text" class="e_search_input" value="搜索城市" data-detect-oninput="1">#}
                                            <input type="text" pattern="([\u4e00-\u9fa5]+)" class="e_search_input" id="name" placeholder="搜索城市（请输入城市完整汉字名称）" name="cityname">
                                        </div>
                                        <span class="btn_search" title="搜索" data-beacon="Place_search_button" >
                                            <span>
{#                                                submit向后台传递属性（去除了submit的默认样式）#}
                                                <input type="submit" href="/city_home"  target="_blank" data-beacon="Recommended_cities"  style="border: none;background: none;cursor: pointer" value="GO!"  onclick="checkform()">
                                            </span>
                                        </span>
                                    </form>
                                </div>
                                <script type="text/javascript">
                                    function checkform(){
                                        if(document.getElementById('name').value.length==0){
                                            alert('输入为空！');
                                            document.getElementById('name').focus();
                                            return false;
                                        }
                                        if(document.getElementById('name').value=="请输入搜索内容"){
                                            alert('输入为空！');
                                            document.getElementById('name').focus();
                                            return false;
                                        }
                                    }
                                </script>
                                <div class="searchbox_txt clrfix">
                                    <form action="/city_home" method="get">
									    <input  name="cityname"  type="submit" value="北京" style="border: none;background: none;cursor: pointer;color: white">__
                                        <input  name="cityname"  type="submit" value="香港" style="border: none;background: none;cursor: pointer;color: white">__
                                        <input  name="cityname"  type="submit" value="上海" style="border: none;background: none;cursor: pointer;color: white">__
                                        <input  name="cityname"  type="submit" value="西安" style="border: none;background: none;cursor: pointer;color: white">__
                                        <input  name="cityname"  type="submit" value="厦门" style="border: none;background: none;cursor: pointer;color: white">__
                                        <input  name="cityname"  type="submit" value="丽江" style="border: none;background: none;cursor: pointer;color: white">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/搜索框-->

                </div>
                <!-- /首屏焦点区 -->
            </div>

            <div class="qn_main">
            
                <!-- 还没想好去哪儿？ -->
                <div class="b_wanttogo" id="js_wanttogo">
                    <div class="hd clrfix">
                        <div class="tit">还没想好去哪儿？</div>
                    </div>
                   
                </div>
                <!-- /还没想好去哪儿？ -->
                


            </div>
        </div>
    </body>


</html>
